<app-header><span>Harry Potter</span>
  <app-button buttonText="LOGOUT"></app-button></app-header>
<div class="app-root">
  <!-- <app-button buttonText="SHOW COURSE" iconName="eye"></app-button>
  <app-button iconName="trash"></app-button>
  <app-button buttonText="EDIT" iconName="pencil-alt"></app-button> -->

  <!-- вариант с именем и кнопкой -->
<!-- <app-header>
  <span>Harry Potter</span>
  <app-button buttonText="LOGOUT"></app-button>
</app-header> -->

<!-- вариант только с кнопкой -->
<!-- <app-header>
  <app-button buttonText="LOGIN"></app-button>
</app-header>

<app-info
  [title]="'Your List Is Empty'"
  [text]="'Please use ‘Add New Course’ button to add your first course'">
  <app-button buttonText="ADD NEW COURSE"></app-button>
</app-info> -->

<!-- <app-courses></app-courses> -->
 <router-outlet></router-outlet>
<!-- ------------------------------------------- -->

  <!-- Search component -->
  <!--<app-search></app-search>-->

  <!-- Info component -->
  <!--<app-info></app-info>-->

  <!-- Course Card component -->
  <!-- <app-course-card></app-course-card> -->

  <!-- Login Form component -->
  <!--<app-login-form></app-login-form>-->

  <!-- Login Form component -->
  <!--<app-registration-form></app-registration-form>-->

  <!-- Login Form component -->
  <!-- <app-course-form></app-course-form> -->

  <!-- Modal component -->
  <!-- <app-modal [message]="'Message'" [title]="'Title'" [okButtonText]="'Ok'" [cancelButtonText]="'Cancel'"></app-modal> -->
</div>
